{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {poly/foo {:local/root "components/foo"}
                               org.clojure/clojure {:mvn/version "1.10.3"}
                               ;; the following _does_ work:
                               ;io.github.seancorfield/deps-new {:git/tag "v0.4.8" :git/sha "a059d98"}
                               ;; this form of git deps does not work with polylith (and should):
                               io.github.seancorfield/deps-new {:git/sha "12510ba7ad0d0e00bef16666b92db340adeadcf1"}}}

            :test {:extra-paths ["components/foo/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "82bfbcb83f3524cd91d07a6486efce7692e6be32"
                                 :deps/root "projects/poly"}}}}}
